[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
pytest = "*"
pytest-cov = "*"
werkzeug = "*"
flask-cors = "*"
w3lib = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "gunicorn app:app"
dev = "bash -c \"export FLASK_ENV='development' && flask run\""
